@charset "UTF-8";
.swiper-container {
  width: 100%;
  height: 300px;
  background-color: #ddd; }
  .swiper-container .content-left {
    position: absolute;
    top: 50px;
    left: 42px;
    z-index: 2;
    width: 204px;
    height: 56px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 56px;
    background-color: #58b8ea;
    border-radius: 28px; }
  .swiper-container .content-right {
    position: absolute;
    top: 50px;
    right: 32px;
    z-index: 2;
    width: 168px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    color: #ddd;
    background-color: #fff;
    border-radius: 28px; }
    .swiper-container .content-right input {
      width: 56px;
      font-size: 28px;
      border: 0;
      outline: none; }
    .swiper-container .content-right .iconfont {
      color: #666;
      font-size: 28px; }

/* start 标题轮播 */
.swiper-container1 {
  overflow: hidden;
  margin: 40px 10px 40px 30px; }
  .swiper-container1 .swiper-slide {
    width: 198px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #ddd;
    border-radius: 8px; }

/* end 标题轮播 */
/* start 热门专题 */
.hot {
  padding: 12px 32px;
  font-size: 28px;
  line-height: 28px;
  color: #666; }
  .hot .hot-title h3::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 28px;
    margin-right: 16px;
    vertical-align: top;
    background-color: #ea6f5a; }
  .hot .hot-title h3 {
    display: inline-block;
    float: left; }
  .hot .hot-title p {
    display: inline-block;
    float: right; }
  .hot .hot-title .iconfont {
    font-size: 28px;
    margin-right: 12px; }
  .hot ul {
    padding: 30px 0; }
    .hot ul li {
      display: inline-block;
      float: left;
      height: 52px;
      margin-top: 10px;
      margin-right: 16px;
      padding: 12px 24px;
      line-height: 52px;
      color: #ea6f5a;
      border: 1px solid #ea6f5a;
      border-radius: 8px; }
    .hot ul::after {
      content: "";
      display: block;
      clear: both; }

/* end 热门专题 */
/* start 热门专题 */
.article {
  padding: 12px 30px;
  font-size: 28px;
  line-height: 28px;
  color: #666; }
  .article .article-title h3::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 28px;
    margin-right: 16px;
    vertical-align: top;
    background-color: #ea6f5a; }
  .article .article-title h3 {
    display: inline-block;
    float: left; }
  .article .article-title p {
    display: inline-block;
    float: right; }
  .article .article-title .iconfont {
    font-size: 28px;
    margin-right: 12px; }
  .article .article-title::after {
    content: "";
    display: block;
    clear: both; }
  .article .article-item {
    display: flex; }
    .article .article-item .item-left {
      padding: 30px 0 36px 0; }
      .article .article-item .item-left .header {
        font-size: 24px; }
        .article .article-item .item-left .header img {
          width: 45px;
          height: 45px;
          vertical-align: middle;
          border-radius: 22.5px; }
        .article .article-item .item-left .header .author {
          color: #333; }
        .article .article-item .item-left .header .time {
          color: #999; }
      .article .article-item .item-left h3 {
        height: 80px;
        margin: 22px 0;
        font-size: 34px;
        line-height: 40px; }
      .article .article-item .item-left .footer {
        font-size: 22px; }
        .article .article-item .item-left .footer h4 {
          display: inline-block;
          padding: 10px 12px;
          text-align: center;
          color: #ea6f5a;
          border: 1px solid #ea6f5a;
          border-radius: 6px; }
        .article .article-item .item-left .footer p {
          display: inline-block;
          padding: 10px 0; }
    .article .article-item .item-right {
      width: 158px;
      height: 158px;
      padding: 56px 0 56px 30px; }
      .article .article-item .item-right img {
        width: 158px;
        height: 158px; }

/* end 热门文章 */
